*{
  padding: 0px;
  margin: 0px;
  background-color:beige;
  font-family: Poppins,sans-serif;
  
}

.wrapper{
height: 100vh;
width: 100vw;
position: absolute;

}
.menu{
  display: flex;
  justify-content: space-between;
  place-content: center;
  padding: 40px 0px;
  font-size: 0px;
}

.list li{
  list-style:none;
  display: inline-block;
  place-items: center;
  margin: 0px 50px;
  
}

.list li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  user-select: none;
  font-size: 14px;
}

.list li a:hover{
  color: brown;
  text-decoration: underline;
}

.animation-wrap{
  display: grid;
  height: 80vh;
  place-items: center;
}

.animation{
border-right: 2px solid #000;
width: 25.7ch;
animation: typing 2s steps(25), blink 0.5s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
font-size: 2em;
font-family: monospace;

}

@keyframes blink{
  50%{
    border-color: transparent;
  }
  
}

@keyframes typing{
  from {
width: 0ch;
  }
}

.body{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

main {
width: 100vw;
height: 100vh;

}

.about{
width: 100vw;
height: 100vh;  

}

.abtext{
 position: absolute;
 top: 150%;
 left: 10%;
 font-size: 17px;
 border: 1px solid #000;
}

.abimage {
  border: 1px solid #000;
  width: 250px;
  height: 450px;
  position: absolute;
  top: 120%;
left: 60%;
}

